* {
  box-sizing: border-box;
  padding: 5px;
  margin: 5px;
}

body {
  height: 100%;
  line-height: 1.5;
  font-family: 'Futura';
  font-weight: 300;
  color: black;
}

h1 {
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: 100px 1fr 0.3fr;
}

.country{
  float: left;
}

.population {
  float: right;
}
.progressBar {
  background-color: 'orange',

}
